.sdn-topo {
  color      : rgb(78, 79, 111);
  font-family: 'Open Sans', sans-serif;
  text-align : center;
  font-size: 25px;
  .noivos {
    font-family: 'Powerpoint', cursive;
    font-size  : 100px;
    height     : 110px;
    line-height: 37.7px;
    margin     : 80px 0 35px;
    text-align : center;
  }
}
