div.container
  p.lead Criamos esse site para compartilhar com vocês os detalhes da organização do nosso casamento. Estamos muito felizes e contamos com a presença de todos no nosso grande dia!
  p.lead Aqui vocês encontrarão também dicas para hospedagem, como chegar, salão de beleza, trajes, estacionamento, etc.
  p.lead Ah, é importante também confirmar sua presença. Para isto contamos com sua ajuda clicando no menu "Confirme sua Presença" e preenchendo os dados necessários.
  div.embed-responsive.embed-responsive-16by9
    iframe.embed-responsive-item(src="//www.youtube.com/watch?v=OJY7mEVsAik", width="854" height="480" frameborder="0" allowfullscreen)
